<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Robot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	
    
    <script type="text/javascript" src="js/lib/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.doubletap.js"></script>
    <script type="text/javascript" src="js/remoteDesktop.js"></script>
</head>
<body>
   	<!-- <div><button id="realodBtn">Reload</button></div> -->
    <canvas id="screen"></canvas>
    <img id="screenImg" style="display:none;"></img>
    <script type="text/javascript">
    	$("body").append("<h1>" + $.fn.jquery + "</h1>")
    </script>
</body>
</html>